{% extends "base.html.twig" %}

{% block content %}
    <div class="bg-info">
        <div class="py-3 container text-light">
            <h3>{{ 'home.offline.heading' | trans | desc('Offline') }}</h3>
            <p>{{ 'home.offline.paragraph0' | trans | desc('Oh! Looks like you are offline') }}</p>
        </div>
    </div>
    <div class="container py-3">
        <p class="lead">
            {{ 'home.offline.paragraph1' | trans | desc('When you are in offline mode you get redirected here.') }}
        </p>
        <p>
            {{ 'home.offline.paragraph2' | trans | desc('When you are back online you can check out the entire site again. Sorry for now!') }}
        </p>
    </div>
{% endblock %}
