{% trans_default_domain 'FOSUserBundle' %}

<div class="row justify-content-md-center py-3">
    <div class="col-md-6">
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        <div class="card bg-light">
            <div class="card-header bg-primary text-white   ">
                <i class="fa fa-user"></i>
                Edit profile
            </div>
            <div class="card-body">
                {{ form_widget(form) }}
                <div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-sign-in-alt"></i>
                        {{ 'profile.edit.submit' | trans }}
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
