{% extends "@GlynnTemplate/base.html.twig" %}

{% block body %}
    {% if app.request.hasPreviousSession %}
        <div class="container">
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}

