<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Glynn admin{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <link rel="stylesheet" href="{{ asset('build/site.css') }}">
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/site.js') }}"></script>
{% endblock %}
</body>
</html>