{% extends "@GlynnTemplate/admin.html.twig" %}

{% block body %}
    <div class="bg-dark text-white py-3">
        <div class="container">
            <h1>Hello glynn admin</h1>
        </div>
    </div>
    {% for item in dashboardItems.items %}
        {{ item | raw }}
    {% endfor %}
{% endblock %}